body {
  background-color: #ffffff;
  /* Specify your desired background color */
}

.game-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffd800;
  /* Gradient background */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  gap: 100px;
}

/* Hero section styles */
.game-hero {
  width: 100%;
  height: 500px;
  /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.games-activity{
  display: flex;
}

.games-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* Adjust the width as needed */
  height: auto;
  /* Adjust the height as needed */
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.game-card:hover {
  transform: scale(1.1);
}

.game-cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.game-link {
  display: block;
  padding: 10px;
  background-color: #ffd800;
  color: #fff;
  text-decoration: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: background-color 0.3s ease-in-out;
}

.game-link:hover {
  background-color: #e5c200;
}



/* Additional styles as needed */