body {
  background-color: #ffffff;
  /* Specify your desired background color */
}

.game-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffd800;
  /* Gradient background */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  gap: 100;
}


/* Hero section styles */
.game-hero {
  width: 100%;
  height: 500px;
  /* Adjust height as needed */
  background-image: url(../../assets/games-hero.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* justify-content: center; */
  text-align: center;
}

.game-intro{
      display: flex;
        flex-direction: column;
        width: 800px;
        /* margin: 100px; */
        padding: 10px;
        font-family: 'Boogaloo', sans-serif;
        font-size: x-large;
        color:black;
}
.game-hero h1{
      font-weight: bold;
        animation: colorChange 10s infinite;
}
.games-activity{
  display: flex;
  margin:50px 0;
}

.games-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* Adjust the width as needed */
  height: auto;
  /* Adjust the height as needed */
  background-color: #96011b;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.game-card h2{
  color: white;
}

.game-card:hover {
  transform: scale(1.1);
}

.game-cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.game-link {
  display: block;
  padding: 10px;
  background-color: #96011b;
  color: #fff;
  text-decoration: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: background-color 0.3s ease-in-out;
}

.game-link:hover {
  background-color: #e5c200;
}



/* Additional styles as needed */