.navbar {
    font-family: 'Boogaloo', sans-serif;
    /* background-color: #b869c1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    height: 70px;
    
}

a {
    font-family: 'Boogaloo', sans-serif;
    text-decoration: none;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 250px;
}

.navbar-links_logo {
    margin-right: 3rem;
}

.navbar-links_logo img {
    width: 90px;
    height: 80px;
}

.navbar-links_container {
    display: flex;
    flex-direction: row;
}


.navbar-links_container a {
    /* font-family: 'Bubblegum', sans-serif;
 */
    font-size: larger;
    padding: 10px;
    color: black;
    transition: color 0.9s;
}

.navbar-links_container a:hover {
    border-radius: 25px;
}


.navbar-links_container a:hover,
.navbar-menu_container a:hover,
.navbar-sign button:hover,
.navbar-menu_container button:hover {
    background-color: #FF6E40;
    color: #fff;
}

.navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links_container p,
.navbar-menu_container p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    text-decoration: none;
}

.navbar-links_container p:hover {
    animation: pulse 0.5s infinite;
    /* Use the pulsating animation for bouncing effect */
}

/* Define the pulsating animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.navbar-sign button,
.navbar-menu_container button {
    margin: 5px;
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.navbar-sign button:hover,
.navbar-menu_container button:hover {
    animation: pulse 0.5s infinite;
    /* Add a pulsating animation */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu_container {
    background-color: rgb(191, 106, 198);
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
    flex-direction: column;
    text-align: end;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}

.navbar-menu_container p {
    margin: 1rem 0;
}

.navbar-menu_container a {
    font-size: larger;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    color: yellow;
    transition: color 0.3s;
    border-radius: 25px;
    float: left;
    /* Add a smooth transition effect for text color */
}

.navbar-menu_container a:hover {
    transform: rotate(10deg);
    animation: rotate 0.5s  linear;
    /* Add a rotating animation */
    /* Add a slight rotation on hover for a playful effect */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.navbar-menu_container-links-sign {
    display: none;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.login-form-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #FF4820;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #FF6E40;
}

@media screen and (max-width: 1050px) {
    .navbar-links_container {
        display: none;
    }

    .navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 0.5rem 2rem;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        padding: 1rem;
    }

    .navbar-sign {
        display: none;
    }

    .navbar-menu_container {
        top: 20px;
    }


    .navbar-menu_container-links-sign {
        display: block;
    }
}



