/* VideoStore.css */

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    /* You can change the font-family to a kid-friendly font */
}


@keyframes colorChange {

    0%,
    100% {
        color: #3498db;
        filter: brightness(1);
        transform: translateY(0);
        /* Initial and final position */
    }

    25% {
        color: #e74c3c;
        filter: brightness(1.2);
        transform: translateY(-5px);
        /* Move up */
    }

    50% {
        color: #2ecc71;
        filter: brightness(1);
        transform: translateY(5px);
        /* Move down */
    }

    75% {
        color: #f39c12;
        filter: brightness(1.2);
        transform: translateY(-5px);
        /* Move up */
    }
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    animation: colorChange 10s infinite;
    /* Adjust the duration as needed */
}

.video-store {
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.filter-bar {
    display: flex;
    flex-direction: column;
    /* Change the direction to column */
    align-items: center;
    /* Center horizontally */
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    /* Add margin for spacing between buttons and search bar */
}

.filter-bar select,
.filter-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    /* Add margin for spacing between search bar and buttons */
}

.search-bar input{
    margin-left: 10px;
}
.genre-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #ff69b4;
    /* Hot Pink color, you can choose any vibrant color */
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    /* Playful font */
}

.genre-button:hover {
    background-color: #ff1493;
    /* Deep Pink color on hover */
    transform: scale(1.1);
}

.genre-button.active {
    background-color: #ff6347;
    /* Tomato color for active button */
}


 .all-video {
     display: flex;
     flex-wrap: wrap;
     overflow-y: auto;
     justify-content: center;
 }
 .video-content{
    display: flex;
    flex-direction: column;
 }
.video-item {
    background-color: #f7f7f7;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-item:hover {
    transform: scale(1.05);
}

video {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #ddd;
} 


/* Media Query for Responsiveness */
@media screen and (min-width: 768px) {
    .video-store {
    }

    .video-item {
        width: calc(33.33% - 20px);
    }
}

@media screen and (min-width: 1024px) {
    .video-item {
        width: calc(25% - 20px);
    }
}