
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Boogaloo', sans-serif;
  /* margin: 0; */
  overflow-x: hidden;
  flex: 1;
  background: linear-gradient(90deg, rgba(50, 189, 194, 1) 0%, rgba(56, 198, 203, 100%) 100%);
}
